# Temporary and output files
*.isx
*.map
*.o
*.bin
*.wav
col_*.dat
channel*.dat
!note_*.bin
__pycache__

# Don't commit the compiler EXEs
*.EXE

# Environment-specific files and configs
.vscode
.python-version
